.root {
  &:not(.root-last) {
    border-bottom: 1px dashed var(--border-color);
  }

  &-order {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-action {
    &:last-child {
      margin-left: 10px;
    }
    &:first-child {
      margin-right: 10px;
    }
  }

  p {
    margin: var(--base-size) 0;
  }
}
