.root {
  padding: 5px 10px;

  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;

  &:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      opacity: 0.5;
      transform: none;
    }
  }
}

.primary {
  border-radius: 4px;
  border: none;
}

.secondary {
  border-radius: 4px;
  border: 1px solid rgb(62, 62, 62);
}

.text {
  border: none;
  background-color: transparent;
  color: #aaa;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  &:hover {
    color: #fff;
  }
}

.default {
  &.primary {
    background-color: rgb(230, 69, 11);
    color: white;
  }
  &.secondary {
    background-color: rgb(206, 206, 206);
  }
}

.alternative {
  &.primary {
    background-color: rgb(114, 31, 0);
    color: white;
  }
  &.secondary {
    background-color: rgb(51, 51, 51);
    color: white;
  }
}
