.root {
  --button-size: 24px;
  --button-text-size: 16px;
  --button-bg-color: #fff;
  --button-ng-color-hovered: rgba(0, 0, 0, 0.12);

  position: relative;
  width: var(--button-size);
  height: var(--button-size);
  padding: var(--half-size);
  border: none;
  cursor: pointer;
  font-size: var(--button-text-size);
  font-weight: 500;
  line-height: 1;
  background-color: var(--button-bg-color);
  border: 1px solid var(--border-color);
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--button-ng-color-hovered);
  }

  &-disabled {
    opacity: 0.3;
  }
}

.button {
  &-circle {
    border-radius: 50%;
  }
}
