.root {
  display: flex;
  flex-direction: column;
}

.dishList {
  margin-top: 20px;
}

.dish:not(:last-child) {
  margin-bottom: 10px;
}

.skeleton {
  display: flex;
  flex-direction: column;

  .title {
    margin-top: 20px;
    height: 23px;
    width: 100px;
  }

  .element {
    margin-top: 20px;
    height: 47px;
  }
}
