.root {
  &-title {
    margin: 10px 0 20px;
    text-align: center;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  &-label {
    width: 80px;
    font-size: var(--font-14);
  }

  input {
    width: 200px;
    font-size: var(--font-12);
    padding: var(--half-size) var(--base-size);
  }
}