.main {
  --primary-text-color: #rgba(0, 0, 0, 0.86);
  --secondary-text-color: rgba(0, 0, 0, 0.56);
  --primary-color: #0009ec;
  --border-color: rgba(0, 0, 0, 0.12);

  --base-size: 8px;
  --half-size: 4px;

  --font-12: 12px;
  --font-14: 14px;
}